<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head th:replace="fragments :: head"></head>

<body>
<div id="app">
    <div th:replace="fragments :: leftmenu"></div>
    <div id="main" class='layout-navbar'>
        <header th:replace="fragments :: header"></header>


        <div id="main-content">

            <div class="page-heading">
                <div class="page-title">
                    <div class="row mb-3">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <h3>Выдача привилегий</h3>
                        </div>
<!--                        <div class="col-12 col-md-6 order-md-2 order-first">-->
<!--                            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">-->
<!--                                <button type="button" class="btn btn-outline-success rounded-pill"-->
<!--                                        data-bs-toggle="modal"-->
<!--                                        data-bs-target="#inlineForm">Добавить нового пользователя-->
<!--                                </button>-->
<!--                            </nav>-->
<!--                        </div>-->
                    </div>
                </div>

                <section class="section">
                    <div class="card">
                        <div class="card-body">
                            <div class="accordion accordion-flush" id="accordionFlushExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingOne">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                            Accordion Item #1
                                        </button>
                                    </h2>
                                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                            Accordion Item #2
                                        </button>
                                    </h2>
                                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                            Accordion Item #3
                                        </button>
                                    </h2>
                                    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>

            </div>
            <footer th:replace="fragments :: footer"></footer>
        </div>
    </div>
</div>
<div th:replace="fragments :: HPscripts"></div>
<div th:replace="fragments :: DataTableScripts"></div>
</body>

</html>
</body>
</html>