<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head th:replace="fragments :: head"></head>

<body>
<div id="app">
    <div th:replace="fragments :: leftmenu"></div>
    <div id="main" class='layout-navbar'>
        <header th:replace="fragments :: header"></header>


        <div id="main-content">

            <div class="page-heading">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <h3>Пользователи системы</h3>
                        </div>
                    </div>
                </div>
                <section class="section">
                    <div class="card">

                        <div class="card-body">
                            <table class="table table-striped" id="dataTable">
                                <thead>
                                <tr>
                                    <th>Логин</th>
                                    <th>ФИО</th>
                                    <th>Email</th>
                                    <th>Телефон</th>
                                    <th>Статус</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${users}">
                                    <td th:text="${user.getUsername()}"></td>
                                    <td th:text="${user.getFirstName() + ' ' + user.getLastName() }"></td>
                                    <td th:text="${user.getEmail()}"></td>
                                    <td th:text="${user.getPhone()}"></td>
                                    <td>
                                        <span class="badge bg-success" th:text="${user.getIsActive() ? 'Активно' : 'Не активно'}"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </section>
            </div>

            <footer th:replace="fragments :: footer"></footer>
        </div>
    </div>
</div>
<div th:replace="fragments :: HPscripts"></div>
<div th:replace="fragments :: DataTableScripts"></div>
</body>

</html>